
{{set . "title" "Home"}}
{{template "header.html" .}}
<form id="create" action="user/add" method="POST">
  <input type="hidden" name="room" value="{{.id}}"/>
  <div class="form-group">
    <label>Name
      <input type="text" size="10" name="name" class="form-control"/>
    </label>
  </div>
  <input type="submit" value="Create" class="btn btn-default"/>
</form>
<h2>Join</h2>
<form id="join" action="/user/add" method="POST">
  <div class="form-group">
    <label>ID
      <input type="text" size="10" name="name" class="form-control"/>
    </label>
  </div>
  <div class="form-group">
    <label>Name
      <input type="text" size="10" name="name" class="form-control"/>
    </label>
  </div>
  <input type="submit" value="Join" class="btn btn-default"/>
</form>{{template "footer.html" .}}