{{set . "title" "Room"}}
{{template "header.html" .}}
<form id="params">
  <input type="hidden" name="room" value="{{.room}}">
  <input type="hidden" name="user" value="{{.userId}}">
  <input type="hidden" name="token" value="{{.token}}">
</form>

<h1>Room</h1>

<h2>Join</h2>
<form id="join" action="/user/add" method="POST">
<input type="text" size="10" name="name">
<input type="submit" value="submit" />
</form>

<h2>Userlist</h2>

<form id="share" action="/share/add" method="POST">
<div id="userlist"></div>
<script type="application/x-template" id="userlist-tmpl">
<table>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Join</th>
      <th>Secret</th>
    </tr>
    <% for (user of data) { %>
      <tr>
        <td class="<%= user.Id == {{.userId}} ? "me" : '' %>"> <%= user.Name %> </td>
        <td><input type="checkbox" name="join[<%= user.Id %>]" checked/></td>
        <td><input type="text" name="private[<%= user.Id %>]" /></td>
      </tr>
    <% } %>
  </tbody>
</table>
</script>

<h3>Public</h3>

<input type="text" name="public" value="public">

<h3>Group</h3>

<input type="text" name="group" value="group">

<p><input type="submit" value="submit"></p>

</form>

<h2>Secret</h2>

<div id="secretlist">
</div>
<script type="application/x-template" id="secretlist-tmpl">
<ul>
  <% for (secret of data) { %>
    <li> <%= secret.Type %> <%= secret.Text %></li>
  <% } %>
</ul>
</script>

<script>
System.import('app/main');
</script>

{{template "footer.html" .}}
