{{set . "title" "Room"}}
{{template "header.html" .}}

<h1>Room</h1>

<h2>Join</h2>
<form action="/user/add" method="POST">
<input type="hidden" name="room" value="{{.id}}">
{{with $field := field "name" .}}
  Name : <input type="text" size="10" name="{{$field.Name}}" value="{{$field.Flash}}">
{{end}}
<input type="submit" value="submit" />
</form>

<h2>Userlist</h2>

<form action="/user/share" method="POST">
<table>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Join</th>
      <th>Secret</th>
    </tr>
    <div id="userlist"></div>
  </tbody>
</table>
<tr>
<script type="application/x-template" id="userlist_tmpl">
<% for (var user of data) { %>
<%= %>
  <tr>
    <td> <%= user.Name %> </td>
    <td><input type="checkbox" name="join[<%= user.Id %>]" checked/></td>
    <td><input type="text" name="private[<%= user.Id %>]" /></td>
  </tr>
<% } %>
</script>

<h3>Public</h3>

<input type="text" name="public" value="public">

<h3>Group</h3>

<input type="text" name="group" value="group">

<input type="submit" value="submit">

</form>

<h2>Secret</h2>

<div id="secretlist">
<form action="/share/list" method="GET">
  <input type="submit">
</form>
</div>

<script src="/public/js/main.js"></script>
<script>
renderUserList({{.id}})
</script>

{{template "footer.html" .}}
