<!DOCTYPE html>

<html>
  <head>
    <title>Outcastify / {{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    {{range .styles}}
      <link rel="stylesheet" type="text/css" href="/public/css/{{.}}.css">
    {{end}}
    <script src="/public/jspm_packages/system.js"></script>
    <script src="/public/config.js"></script>
    {{range .moreScripts}}
      <script src="/public/js/{{.}}.js"></script>
    {{end}}
  </head>
  <body>
